/* .logo {} */

.logo img {
  width: 164px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Segoe UI";
}

.right ul {
  display: flex;
  gap: 34px;
}

.right ul li {
  list-style: none;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.right ul li span {
  padding: 0 5px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;
  margin: 70px;
  font-family: sans-serif;
}
.first span {
  font-size: 50px;
}
.first span img {
  width: 60px;
  margin: 0 20px;
}
.first p {
  font-size: 23px;
  width: 56vw;
  text-align: center;
}
.btn {
  background-color: #00b6d1;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  padding: 14px 22px;
  cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: white;
}
.green {
  background-color:#5cb85c;
}

.flex {
  display: flex;
  color: grey;
  font-size: large;
}

.small {
  font-size: 12px;
}

.second {
  max-width: 70vw;
  margin: auto;
}
.item {
  font-size: 20px;
  padding: 23px;
  background-color: #f9f9f9;
  border-radius: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.item-lng{
    font-weight: 600;
    text-align: center;
    padding-bottom: 36px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
.Download :nth-child(2){
    font-size: 23px;
}
.Download img{
    padding: 0 12px;
}
.Download{
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
}
@media screen and (max-width: 1145px) {
    .grid{ 
        grid-template-columns: 1fr; 
    }
}